<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="upload.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form method=post enctype=multipart/form-data>
    <div class="wrapper">
        <div class="file-upload">
          <i class="fa fa-image"></i>
          <h1>select</h1>
          <input type="file" accept="image/*" capture="camera" name="file"> 
        </div>
        <div class="btn">
          <input type="submit">
          <h1>upload</h1>
        </div>
    </div> 
	</form>

    
</body>
</html>
